#contenedor {
    width: 900px;
    height: 1200px;
    background-color: #d49e23;
    margin: 15px auto;
    
  }

  #cabecera {                                  
    width: 100%;
    height: 25%;
    background-color: #d9bd1f
  }


  #menu{
    background-color:  #713505;
    width: 100%;
    height: 3%;

  }


 


  #seccion2{
    background-color:  #713505;
    width: 100%;
    height: 5%;

  }

  #texto{
    margin-left: 60%;
  }


  #texto2{
    margin-left: 60%;
  }


  #pie {                                       /*Pie*/
    width: 100%;
    height: 10%;
    background-color: #744607;
    display: inline-block;
    text-align: center;
  }




  #encabezado {
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding-top: 90px;
  }


  #resumen{
 
        width: 80%;
        text-align: justify;
        margin-left: 40px;
        
     
  }

  #cuerpo1{
    width: 100%;
    height: 30%;
    background-color: #b01a1c
  }


  #imagenes{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-right: 5px;
    margin-left: 5px;
    border: #68531e 2px;
    
  }
  
  #im{
    border: #68531e 2px;
  }


